<div class="container">
  <%= render 'menu' %>

  <section>
    <div id="top">
      <h1>Password</h1>
    </div>

    <%= form_for @user, url: update_password_path, html: { class: 'edit-user-password', autocomplete: :off } do |u| %>
    <ul>
      <li class="input-group">
        <%= label_tag :current_password %>
        <%= password_field_tag :current_password, nil, placeholder: 'Current password', autocomplete: :off %>
      </li>
      <li class="input-group">
        <%= u.label :password %>
        <%= u.password_field :password, placeholder: 'New password', autocomplete: :off  %>

        <div class="hide" id="password-criteria">
          <p>Your new password must contain at least:</p>
          <ul>
            <li class="invalid" id="criteria-lower">A lowercase letter</li>
            <li class="invalid" id="criteria-upper">An uppercase letter</li>
            <li class="invalid" id="criteria-number">A number</li>
            <li class="invalid" id="criteria-length">8 characters</li>
          </ul>
        </div>
      </li>
      <li class="input-group">
        <%= u.label :password_confirmation %>
        <%= u.password_field :password_confirmation, placeholder: 'New password confirmation', autocomplete: :off %>
      </li>
      <li>
        <%= u.submit "Change password", disabled: true, id: 'edit-user-password-submit' %>
      </li>
    </ul>
    <% end %>
  </section>
</div>
